

.side-profiles-wrapper {
    width:350px;
    
    
    .prof {
        width:100%;
        padding:none;
        height:65px;
        
        .profile-pic {
            height:100%;
            
            border-radius: 100%;
            img {
                position: relative !important;
                width: auto !important;
            }
        }
        .username-wrapper {
            height:fit-content;
            font-size: 12.5px;
            line-height: 1.1rem;
            
            color:rgb(115, 115, 115);
            span {
                font-weight: 600;
                color:rgb(0,0,0);
            }
        }

        >span {
            color:rgb(0, 149, 246);
            font-size: 13px;
            margin-left: auto;
            cursor: pointer;
            
        }
        
    }
    
    .other {
        height:40px;
    }
}