.rick-item {
    min-width: 600px;
    width: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    color: black;
    min-height: 200px;

    .content-wrapper {
        min-height: 150px;
        
    }
}
