.chat-page-header {
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.chat-page-body {
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: rgb(76, 76, 76);
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    .chat-page-friends {
        height: 100%;
        background-color: rgb(18, 18, 18);
        width: 400px;
        padding: 10px;

        .friends-search {
            height: 70px;
            width: 100%;
            .friends-search-input {
                font-size: 18px;
            }
        }
        .friends-recent {
            overflow-x: hidden;
            overflow-y: scroll;
            max-height: 80%;
            height: max-content;
            padding: 10px;
            border-radius: 5px;
            width: 100%;

            font-size: 18px;

            .friend-item {
                align-items: center;
                display: flex;
                cursor: pointer;
                height: 70px;
                border-bottom: 2px solid white;
                padding-left: 10px;
                gap:20px;

                img {

                    border-radius: 90%;
                    height:40px;
                    width:auto;
                    transition: transform 0.1s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }

                }
            }
        }
    }

    .chat-container {
        height: 100%;
        width: 70vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(8, 8, 8);

        .chat-profile-info {
            width: 100%;
            height: 80px;
            background-color: gray;
        }
        .chat-inner {
            overflow-x: hidden;
            overflow-y: scroll;
            height: calc(100% - 80px);
            width: 100%;
            .chat {
                height: fit-content;
                width: 100%;
                padding: 10px 30px;
                display: flex;
                flex-direction: column;
                .chat-devider {
                    border-color: rgba(255, 255, 255, 0.3);
                }

                .time-sent {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 13px;
                    align-self: flex-end;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    width: 70px;
                }

                .friend-chat {
                    display: flex;
                    flex-direction: column;
                    color: white;
                    font-size: 18px;
                    align-self: flex-end;
                    width:100%;
                    text-align: right;

                    .time-sent {
                        text-align: right;
                    }
                }
                .self-chat {
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    color: white;
                    font-size: 18px;

                    .time-sent {
                        text-align: left;
                    }
                }
            }
            .new-massage {
                height: 80px;
                position: absolute;
                width:1200px;
                bottom:0;
                margin-bottom: 5vh;
                display: flex;
                gap: 30px;
                justify-content: center;
                align-items: center;
                padding: 10px;
            }
        }
    }
}
