@import "./main";

@import "./home-page";
@import "./chat-page";
@import "./instugrem-page";

@import "./app-topics";
@import "./app-rickComps";

@import "./components/post";
@import "./components/topicItem";
@import "./components/profile-block";